<phpunit backupGlobals="true" backupStaticAttributes="false"
	cacheTokens="false" colors="true" convertErrorsToExceptions="true"
	convertNoticesToExceptions="true" convertWarningsToExceptions="false"
	forceCoversAnnotation="false" mapTestClassNameToCoveredClassName="false"
	printerClass="PHPUnit_TextUI_ResultPrinter" processIsolation="false"
	stopOnError="false" stopOnFailure="false" stopOnIncomplete="false"
	stopOnSkipped="false" testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
	timeoutForSmallTests="1" timeoutForMediumTests="10"
	timeoutForLargeTests="60" verbose="true"  
	bootstrap="./bootstrap.php" >
	<testsuites>
		<testsuite name="RestLite All">
			<directory suffix="Test.php" phpVersion="5.5.0" phpVersionOperator=">=">./restlt</directory>
			<directory suffix="Test.php" phpVersion="5.5.0" phpVersionOperator=">=">./restlt/meta/</directory>
			<directory suffix="Test.php" phpVersion="5.5.0" phpVersionOperator=">=">./restlt/output/</directory>
			<directory suffix="Test.php" phpVersion="5.5.0" phpVersionOperator=">=">./restlt/routing/</directory>
		</testsuite>
	</testsuites>
</phpunit>